NodeRed Flow.json
[{"id":"575425d7.0da06c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5f362c84.dada44","type":"ui_form","z":"575425d7.0da06c","name":"","label":"","group":"1e8a72fc.e4489d","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"t","type":"text","required":true,"rows":null},{"label":"Year ","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"u","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"p","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null}],"formValue":{"t":"","a":"","u":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["83d923ca.5b0af"]]},{"id":"83d923ca.5b0af","type":"function","z":"575425d7.0da06c","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"r67lRK72BJFOmG3_5nyDOPghzZO1UayvC57FHWYnfdUX\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["6e3a84c0.d5fa2c"]]},{"id":"e847a09.5b31f6","type":"http request","z":"575425d7.0da06c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/cb4e8990-e53e-4b67-a142-d79a27583302/deployments/b134e7b2-c423-4d19-8ca4-9f3b1fe597f2/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["72282112.46673","493d591f.152be8"]]},{"id":"4c24c365.727c3c","type":"debug","z":"575425d7.0da06c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"493d591f.152be8","type":"function","z":"575425d7.0da06c","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["4c24c365.727c3c","cc42f078.1c6eb"]]},{"id":"72282112.46673","type":"debug","z":"575425d7.0da06c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"c657dcb8.f846d","type":"function","z":"575425d7.0da06c","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"cb4e8990-e53e-4b67-a142-d79a27583302\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//Status\nvar array = ['Developing','Developed'];\nvar x=array.indexOf(u);\n\n//country\nvar array2 = ['Afghanistan',\n 'Albania',\n 'Algeria',\n 'Angola',\n 'Argentina',\n 'Armenia',\n 'Australia',\n 'Austria',\n 'Azerbaijan',\n 'Bangladesh',\n 'Belarus',\n 'Belgium',\n 'Belize',\n 'Benin',\n 'Bhutan',\n 'Bosnia and Herzegovina',\n 'Botswana',\n 'Brazil',\n 'Bulgaria',\n 'Burkina Faso',\n 'Burundi',\n 'Cabo Verde',\n 'Cambodia',\n 'Cameroon',\n 'Canada',\n 'Central African Republic',\n 'Chad',\n 'Chile',\n 'China',\n 'Colombia',\n 'Comoros',\n 'Costa Rica',\n 'Croatia',\n 'Cyprus',\n 'Djibouti',\n 'Dominican Republic',\n 'Ecuador',\n 'El Salvador',\n 'Equatorial Guinea',\n 'Eritrea',\n 'Estonia',\n 'Ethiopia',\n 'Fiji',\n 'France',\n 'Gabon',\n 'Georgia',\n 'Germany',\n 'Ghana',\n 'Greece',\n 'Guatemala',\n 'Guinea',\n 'Guinea-Bissau',\n 'Guyana',\n 'Haiti',\n 'Honduras',\n 'India',\n 'Indonesia',\n 'Iraq',\n 'Ireland',\n 'Israel',\n 'Italy',\n 'Jamaica',\n 'Jordan',\n 'Kazakhstan',\n 'Kenya',\n 'Kiribati',\n 'Latvia',\n 'Lebanon',\n 'Lesotho',\n 'Liberia',\n 'Lithuania',\n 'Luxembourg',\n 'Madagascar',\n 'Malawi',\n 'Malaysia',\n 'Maldives',\n 'Mali',\n 'Malta',\n 'Mauritania',\n 'Mauritius',\n 'Mexico',\n 'Mongolia',\n 'Montenegro',\n 'Morocco',\n 'Mozambique',\n 'Myanmar',\n 'Namibia',\n 'Nepal',\n 'Netherlands',\n 'Nicaragua',\n 'Niger',\n 'Nigeria',\n 'Pakistan',\n 'Panama',\n 'Papua New Guinea',\n 'Paraguay',\n 'Peru',\n 'Philippines',\n 'Poland',\n 'Portugal',\n 'Romania',\n 'Russian Federation',\n 'Rwanda',\n 'Samoa',\n 'Sao Tome and Principe',\n 'Senegal',\n 'Serbia',\n 'Seychelles',\n 'Sierra Leone',\n 'Solomon Islands',\n 'South Africa',\n 'Spain',\n 'Sri Lanka',\n 'Suriname',\n 'Swaziland',\n 'Sweden',\n 'Syrian Arab Republic',\n 'Tajikistan',\n 'Thailand',\n 'Timor-Leste',\n 'Togo',\n 'Tonga',\n 'Trinidad and Tobago',\n 'Tunisia',\n 'Turkey',\n 'Turkmenistan',\n 'Uganda',\n 'Ukraine',\n 'Uruguay',\n 'Uzbekistan',\n 'Vanuatu',\n 'Zambia',\n 'Zimbabwe'];\nvar y=array.indexOf(t);\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Country','Year','Status', 'Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'],\n\"values\":[[y,a,x,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["e847a09.5b31f6"]]},{"id":"6e3a84c0.d5fa2c","type":"http request","z":"575425d7.0da06c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["c657dcb8.f846d"]]},{"id":"cc42f078.1c6eb","type":"ui_text","z":"575425d7.0da06c","group":"1e8a72fc.e4489d","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"1e8a72fc.e4489d","type":"ui_group","z":"","name":"Machine Learning Model","tab":"b3b64c35.a4d54","order":1,"disp":true,"width":"6","collapse":false},{"id":"b3b64c35.a4d54","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]